In [1]:
import numpy as np
import pandas as pd

In [2]:
import os

In [44]:
aisles=pd.read_csv('aisles.csv')
dept=pd.read_csv('departments.csv')
op_prior=pd.read_csv('order_products__prior_subset.csv')
op_train=pd.read_csv('order_products__train_subset.csv')
orders=pd.read_csv('orders_subset.csv')
products=pd.read_csv('products.csv')
insta_feats=pd.read_csv('instacart_df_X_features.csv')

In [45]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,1363380,50,prior,1,3,9,NaN
1,3131103,50,prior,2,6,12,10.0
2,2197066,50,prior,3,1,13,9.0
3,3201640,50,prior,4,0,11,6.0
4,2756806,50,prior,5,4,14,11.0

In [46]:
orders.order_number.nunique()

100

In [47]:
op_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0        12       30597                  1          1
1        12       15221                  2          1
2        12       43772                  3          1
3        12       37886                  4          1
4        12       37215                  5          0

In [48]:
op_train.head()

   order_id  product_id  add_to_cart_order  reordered
0      1077       13176                  1          1
1      1077       39922                  2          1
2      1077        5258                  3          1
3      1077       21137                  4          1
4      1119        6046                  1          1

In [49]:
dept.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [50]:
dept.department.nunique()

21

In [51]:
op_train.add_to_cart_order.nunique()

70

In [52]:
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [53]:
products.aisle_id.nunique()

134

In [54]:
orders.eval_set.unique()

array(['prior', 'train'], dtype=object)

In [55]:
orders.shape

(82683, 7)

In [56]:
orders[orders['eval_set']=='train'][:5]

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
67,1750084,50,train,68,3,9,7.0
95,1647290,52,train,28,4,16,3.0
110,1072954,65,train,15,6,17,30.0
123,2178718,80,train,13,2,8,8.0
140,1848434,220,train,17,3,4,30.0

In [57]:
op_prior.shape

(793924, 4)

In [58]:
op_train.shape

(53704, 4)

In [59]:
orders_df=pd.concat([op_train,op_prior])

In [60]:
orders_df.head()

   order_id  product_id  add_to_cart_order  reordered
0      1077       13176                  1          1
1      1077       39922                  2          1
2      1077        5258                  3          1
3      1077       21137                  4          1
4      1119        6046                  1          1

In [61]:
op_prior.isin(op_train).sum()

order_id                 0
product_id              59
add_to_cart_order     3220
reordered            27663
dtype: int64

In [62]:
orders.drop('eval_set',axis=1,inplace=True)

In [63]:
op_prior=orders.merge(op_prior,on='order_id')

In [64]:
op_train=orders.merge(op_train,on='order_id')

In [65]:
op_prior.shape

(793924, 9)

In [66]:
op_train.shape

(53704, 9)

In [67]:
op_prior.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 793924 entries, 0 to 793923
Data columns (total 9 columns):
order_id                  793924 non-null int64
user_id                   793924 non-null int64
order_number              793924 non-null int64
order_dow                 793924 non-null int64
order_hour_of_day         793924 non-null int64
days_since_prior_order    742704 non-null float64
product_id                793924 non-null int64
add_to_cart_order         793924 non-null int64
reordered                 793924 non-null int64
dtypes: float64(1), int64(8)
memory usage: 60.6 MB

In [68]:
op_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53704 entries, 0 to 53703
Data columns (total 9 columns):
order_id                  53704 non-null int64
user_id                   53704 non-null int64
order_number              53704 non-null int64
order_dow                 53704 non-null int64
order_hour_of_day         53704 non-null int64
days_since_prior_order    53704 non-null float64
product_id                53704 non-null int64
add_to_cart_order         53704 non-null int64
reordered                 53704 non-null int64
dtypes: float64(1), int64(8)
memory usage: 4.1 MB

In [69]:
op_prior.head(3)

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,1363380,50,1,3,9,NaN,6182,1,0
1,1363380,50,1,3,9,NaN,37552,2,0
2,1363380,50,1,3,9,NaN,23165,3,0

In [70]:
op_train.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,1750084,50,68,3,9,7.0,6182,1,1
1,1750084,50,68,3,9,7.0,47209,2,1
2,1750084,50,68,3,9,7.0,13176,3,1
3,1750084,50,68,3,9,7.0,16249,4,1
4,1750084,50,68,3,9,7.0,21903,5,1

In [71]:
df_user_product=op_prior.groupby(['product_id','user_id'], as_index=False).agg({'order_id':'count'}).rename(columns={'order_id':'user_product_total_orders'})

In [72]:
df_user_product.head()

   product_id  user_id  user_product_total_orders
0           1    21285                          1
1           1    47549                          4
2           1    54136                          1
3           1    54240                          1
4           1    95730                          1

In [73]:
df_user_product.shape

(329806, 3)

In [74]:
df_user_product.nunique()

product_id                   28927
user_id                       5000
user_product_total_orders       81
dtype: int64

In [75]:
train_ids=op_train['user_id'].unique()

In [76]:
df_X=df_user_product[df_user_product['user_id'].isin(train_ids)]

In [77]:
df_X.head()

   product_id  user_id  user_product_total_orders
0           1    21285                          1
1           1    47549                          4
2           1    54136                          1
3           1    54240                          1
4           1    95730                          1

In [78]:
df_X.shape

(329806, 3)

In [81]:
op_train['user_id'].unique()[:5]

array([ 50,  52,  65,  80, 220])

In [82]:
train_carts=op_train.groupby('user_id',as_index=False).agg({'product_id':(lambda x:set(x))}).rename(columns={'product_id':'latest_cart'})

In [83]:
df_X=df_X.merge(train_carts,on='user_id')

In [84]:
df_X['in_cart']=(df_X.apply(lambda row: row['product_id'] in row['latest_cart'],axis=1).astype(int))

In [85]:
df_X.head()

,product_id,user_id,user_product_total_orders,latest_cart,in_cart
0,1,21285,1,"{21573, 35561, 37710, 11759, 12341, 13176, 32478}",0
1,3298,21285,1,"{21573, 35561, 37710, 11759, 12341, 13176, 32478}",0
2,4920,21285,3,"{21573, 35561, 37710, 11759, 12341, 13176, 32478}",0
3,6066,21285,2,"{21573, 35561, 37710, 11759, 12341, 13176, 32478}",0
4,6184,21285,6,"{21573, 35561, 37710, 11759, 12341, 13176, 32478}",0

In [86]:
df_X.in_cart.unique()

array([0, 1])

### Before applying the model check for the distribution of the data. Which will help in gaining insight on what algo to use

In [87]:
import matplotlib.pyplot as plt

In [88]:
import seaborn as sns

In [89]:
%matplotlib inline

In [91]:
df_X.in_cart.value_counts(normalize=True)

0    0.901945
1    0.098055
Name: in_cart, dtype: float64

In [94]:
from sklearn.metrics import f1_score,recall_score,precision_score,accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [95]:
np.random.seed(42)

In [96]:
total_users=df_X['user_id'].unique()
test_users=np.random.choice(total_users,size=int(total_users.shape[0]*0.20),replace=False)

In [101]:
df_X_tr,df_X_te=df_X[~df_X['user_id'].isin(test_users)],df_X[df_X['user_id'].isin(test_users)]

In [103]:
y_tr,y_te=df_X_tr['in_cart'],df_X_te['in_cart']

set a baseline score and optimmize on that. do feature engg after that